{{ partial "top.html" . }}

<h1>{{ .Title }}</h1>
{{ partial "breadcrumbs.html" . }}

<h4 class="datetime">
    {{ .Params.eventtype }} {{ if isset .Params "startdate"}}{{ .Params.startdate | dateFormat "Monday 2 January 2006"}}{{ end }} {{ if isset .Params "starttime"}}({{ .Params.starttime }}){{ end }}{{ if or (isset .Params "enddate") (isset .Params "endtime")}} till {{ end }}{{ if isset .Params "enddate"}}{{ .Params.enddate | dateFormat "Monday 2 January 2006"}}{{ end }}{{ if isset .Params "endtime"}} ({{ .Params.endtime }}){{ end }}{{ if isset .Params "location"}} @ {{ .Params.location }}{{ end }}.
</h4>


{{ with .Params.price }}<h5 class="price">Price: {{ . }}</h5>{{ end }}

{{ partial "toc.html" . }}

<article>
    {{ if isset .Params "image"}}
    <img class="content_image" src="{{ .Site.BaseURL }}images/{{ .Params.image }}">
    {{ end }}

    {{ if eq .Dir "events/techtuesday/" }}
    <h1>TechTue Etherpad</h1>
    Pad: <a href="https://etherpad.openstack.org/p/TechTue{{ .File }}">https://etherpad.openstack.org/p/TechTue{{ .File }}</a>
    {{ end }}

    {{ if eq .Dir "events/coremeeting/" }}
    <h1>Coremeeting Etherpad</h1>
    Pad: <a href="https://etherpad.openstack.org/p/coremeeting-{{ .File }}">https://etherpad.openstack.org/p/coremeeting-{{ .File }}</a>
    {{ end }}

    {{ .Content }}
</article>



{{ partial "bottom.html" . }}


