<nav class="col-md-3">

    <div>
    {{ if $.Site.Params.codeeditor_menu_mostrecentposts | default true }}
    <h3 class="home-link"><a href="{{ index .Site.Params "rootlink" | default .Site.BaseURL }}">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).root }}</a></h3>
    </div>

    <div id="last-posts" class="open">
        <h3 data-open="last-posts">Welcome</h3>
        <ul>
            <li><a href="{{ .Site.BaseURL }}events">Events</a></li>
            <li><a href="{{ .Site.BaseURL }}projects">Projects</a></li>
            <li><a href="{{ .Site.BaseURL }}search">Search</a></li>
            <li><a href="{{ .Site.BaseURL }}contact">Get in contact</a></li>
            <li><a href="{{ .Site.BaseURL }}mailinglist">Mailing lists</a></li>
            <li><a href="{{ .Site.BaseURL }}mentions">HSBXL mentions</a></li>
            <li><a href="https://pam.hsbxl.be/">Who is in the space?</a></li>
            <li><a href="https://wiki.hsbxl.be">Archived wiki</a></li>
            <li><a href="https://ptt.hackerspaces.be/#/room/#hsbxl:hackerspaces.be">Chat (Matrix)</a></li>
            <li><a href="irc://irc.freenode.net/hsbxl">Chat (IRC)</a></li>
            <li><a href="{{ .Site.BaseURL }}changelog">Changelog</a></li>
        </ul>
    </div>

    <div id="last-posts" class="open">
        <h3 data-open="last-posts">Agenda</h3>
        <ul>
            {{ range $.Site.RegularPages.ByParam "startdate" }}
                {{ if eq .Type "events" }}
                    {{ if isset .Params "startdate" }}
                        {{ if ge .Params.startdate (now.Format "2006-01-02") }}
                        <li><a href="{{ .Permalink }}">{{ .Params.startdate | dateFormat "Mon 2 Jan"}}: {{ .Params.linktitle }}</a></li>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    </div>

    <div id="last-posts" class="open">
        <h3 data-open="last-posts">TechTuesdays</h3>
        <ul>
            <li>Every Tuesday is TechTuesday, an open evening for both members and visitors.</li>
            {{ range $.Site.RegularPages.ByParam "startdate" }}
                {{ if eq .Type "events/techtuesday" }}
                    {{ if ge .Params.startdate (now.Format "2006-01-02") }}
                        <li><a href="{{ .Permalink }}">{{ .Params.startdate | dateFormat "Mon 2 Jan"}}: {{ .Params.linktitle }}</a></li>
                    {{ end }}
                {{ end }}
            {{ end }}
        </ul>
    </div>

    {{ end }}

    {{ with .Site.Taxonomies.tags }}
    <div id="tags" class="open">
        <h3 data-open="tags">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).tags }}</h3>
        <ul class="tags">
            {{ range $name, $taxonomy := . }}
            <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

    {{ with .Site.Taxonomies.categories }}
    <div id="categories" class="open">
        <h3 data-open="categories">{{ ( index $.Site.Data.translations (default $.Site.Params.locale "en-US") ).categories }}</h3>
        <ul class="categories">
            {{ range $name, $taxonomy := . }}
            <li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</nav>
